@page
@model IndexModel
@{
    ViewData["Title"] = "Start page";
}
@{

    Layout = "_Layout1";
}

<div class="container">
    <div class="jumbotron col-md-6 mx-auto mt-5">
        <h3>Traffic Prediction</h3>
        <a class="nav-link" asp-page="/SignIn">Sign In</a>
        <a class="nav-link" asp-page="/SignUp">Sign Up</a>
    </div>
</div>
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->
